/* 导航栏 */
#nav{
    min-width: 1000px;;
    height: 74px;
    background: #d43b33;
}
#nav li{
    float: left;
    line-height: 74px;
    color: #fcf6f6;
    margin-right: 60px;
}
#nav .active{
    background: url(../images/nav_bg.png) no-repeat -2px 67px;
}
#nav li a{
    color: #fcf6f6;
}
/* 轮播盒子 */
#banner{
    height: 279px;
}
#banner img{
    width: 100%;
    height: 279px;
}
/* 内容 */
#introduction .dahezi{
    height: 548px;
}
#introduction .wrap{
    margin-top: 56px;
}
#introduction .wrap>p{
    text-align: center;
    font-weight: bold;
}
#introduction .wrap>p:first-child{
    font-size: 14px;
}
#introduction .wrap>p:last-child{
    font-size: 18px;
}
/* 中间 */
#introduction .fl>li{
    margin-top: 52px;
    float: left;
    width: 332px;
    height: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    background: #fafafa;
}
#introduction li:first-child{
    background: #fff;
    width: 334px;
    height: 42px;
    background: url(../images/tabbg.png) no-repeat 0px 0px;
}
#introduction li>a{
    color: #333333;
}
/* 下面 */
#introduction .bottom{
    margin-top: 50px;
}

#introduction .zuo{
    width: 718px;
    height: 180px;
    border: 1px solid #d6d6d6;
}
#introduction .zuo>img{
    margin: 22px 38px 30px 30px;
}
#introduction .zuo>h2{
    margin-top: 22px;
    font-size: 14px;
    font-weight: bold;
    color: #666666;
}
#introduction .zuo>p{
    margin-top: 22px;
    margin-right: 38px;
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
}
.zuo>div>span>a{
    color: #666666;
}
.zuo>div>span{
    color: #666666;
}
.zuo>div>span:last-child{
    margin-left: 166px;
}
#introduction .zuo>div span:nth-child(2){
    background: url(../images/eye.png) no-repeat 2px 3px;
}

#introduction .you{
    width: 250px;
    height: 96px;
    border: 1px solid #d6d6d6;
    margin-left: 28px;
}
#introduction .you>img{
    margin-left: 20px;
    margin-top: 15px;
}

/* 分页 */

#introduction .cv>div{
 float: left;
 background: #d8d8d8;
 margin-top: 26px;
}
#introduction .cv>div>a{
    color: #fff;
}
#introduction .cv>div:first-child{
    width: 40px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 4px;
}
#introduction .cv>div:nth-child(2){
    width: 40px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #b50900;
    margin-left: 2px;
    margin-right: 2px;
}
#introduction .cv>div:nth-child(3){
    width: 40px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 4px;
}
/* 底部 */
#foot{
    height: 316px;
    background: url(../images/footer_bg.png);
}
#foot img{
    float: left;
    margin-top: 56px;
}
.wenzi>p{
    color: #fcf8f8;
}
.wenzi>p:nth-child(1){
    font-weight: bold;
    font-size: 15px;
}
.wenzi span{
    color: #979797;
}
#foot .wenzi{
    padding: 39px 91px ;
    float: left;
    line-height: 30px;
}
#foot .wenzi>.ip{
    padding:59px 0px ;
}